CONFIG_BT_NIMBLE_LOG_LEVEL_ERROR=n
CONFIG_BT_NIMBLE_LOG_LEVEL_WARNING=n

# Options to consider:
CONFIG_BT_NIMBLE_DEBUG=n

CONFIG_COMPILER_STACK_CHECK_MODE_NONE=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y

CONFIG_FREERTOS_CHECK_STACKOVERFLOW_NONE=y
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_PTRVAL=n
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_CANARY=n

# Options to consider:
# BOOTLOADER_COMPILER_OPTIMIZATION

