# printing the nimble logs takes a noticible amount of time, so only print the warning
CONFIG_BT_NIMBLE_LOG_LEVEL_WARNING=y
CONFIG_NIMBLE_CPP_LOG_LEVEL_WARNING=y
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y

# CONFIG_BT_NIMBLE_DEBUG

CONFIG_COMPILER_STACK_CHECK=y
CONFIG_COMPILER_STACK_CHECK_MODE_ALL=y
CONFIG_COMPILER_OPTIMIZATION_DEBUG=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=n
CONFIG_COMPILER_OPTIMIZATION_ASSERTION_LEVEL=2

# CONFIG_FREERTOS_CHECK_STACKOVERFLOW_PTRVAL
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_CANARY=y
CONFIG_FREERTOS_TASK_FUNCTION_WRAPPER=y
