# printing the nimble logs takes a noticible amount of time, so only print the warning
CONFIG_BT_NIMBLE_LOG_LEVEL_WARNING=y

# Options to consider:
# CONFIG_BT_NIMBLE_DEBUG
# CONFIG_COMPILER_STACK_CHECK_MODE_NORM
# CONFIG_COMPILER_STACK_CHECK_MODE_STRONG
CONFIG_COMPILER_STACK_CHECK_MODE_ALL=y
# CONFIG_FREERTOS_CHECK_STACKOVERFLOW_NONE
# CONFIG_FREERTOS_CHECK_STACKOVERFLOW_PTRVAL
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_CANARY=y
